
#contact-me-form{
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.form-label{
    font-size: 1rem;
    line-height: 2rem;
    color: var(--color-on-background);
}

.form-input-text, .form-input-email{
    height: 2.3rem;
    border-radius: 2px;
    border: none;
    padding: .3rem;
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--color-surface-container);
    border: 1px solid var(--color-outline);
    color: var(--color-on-surface-container);
}

textarea.form-input-text{
    resize: vertical;
    min-height: 5rem;
    height: 20rem;
}

.form-input-text.invalid, .form-input-email.invalid {
    border-color: rgb(141, 0, 0);
}

.form-input-text:focus, .form-input-email:focus{
    outline: none;
    border-color: var(--color-primary);
}

.form-submit{
    border: none;
    font-size: 1.2rem;
    padding: .4rem .8rem .4rem .8rem;
    width: 10rem;
    border-radius: 2px;
    position: relative;
    align-self: flex-end;
    margin-top: 1rem;

    transition-property: filter;
    transition-duration: .1s;
    transition-timing-function: ease-out;
    color: var(--color-on-primary);
    background-color: var(--color-primary);
}

.form-submit:hover{
    filter: brightness(80%);
}

.form-submit:active{
    filter: brightness(60%);
}

.grecaptcha-badge{
    visibility: hidden;
}

#alert-container{
    padding: 8px;
    width: 200px;
    height: 50px;
    position: fixed;
    left: calc(50vw - 100px);
    bottom: -60px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 100;
    opacity: 0;
    transition-property: opacity, bottom;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.5, 2, .9, 1);
    visibility: hidden;

}

#alert-container.failed{
    background-color: rgb(255, 0, 0);
}

#alert-container.success{
    background-color: #0bbb86;
}

#alert-message{
    color: #0e0e0e;
    font-size: 1.05rem;
}
