.custom-button {
    align-self: center;
}

.cv-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.cv-content {
    display: flex;
    column-gap: 3rem;
    max-width: 800px;
}

#contact-information li {
    font-size: .9rem;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.experience-item > p:last-of-type {
    margin-bottom: 2rem;
}

.name-cv {
    margin-bottom: 0;
    color: var(--color-on-background);
}

strong {
    font-weight: 500;
}

.role-cv {
    font-size: 1.5rem;
    margin: 0;
}

.field-cv {
    font-size: 1.5rem;
    color: var(--color-primary);
}

h4.field-cv {
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--color-on-background);
    margin-bottom: 0;
}

h4.field-cv+p {
    font-size: .9rem;
    margin: 0;
    padding: 0;
}

h4.field-cv>em {
    font-size: .8rem;
    font-weight: 400;
    text-wrap: nowrap;
}

.field-list {
    list-style-type: none;
    padding: 0;
    line-height: 2rem;
    color: var(--color-on-background);
}


@media screen and (width <= 600px) {
    .cv-container {
        display: flex;
        flex-direction: column;
    }

    .cv-content {
        flex-direction: column;
    }

    .left-side, .right-side {
        width: 100%;
    }
}

@media print {

    .custom-button {
        display: none;
    }

    .main-content {
        padding: 0;
        margin: 0;
    }

    .cv-container {
        max-width: 800px;
    }

}