/* ---------------------- Custom font declarations --------------------------- */

@font-face {
    font-family: "MontSerrat Alternates";
    src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf");
}

@font-face {
    font-family: "Lexend";
    src: url("../assets/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Outfit";
    src: url("../assets/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Jost";
    src: url("/assets/fonts/Jost/Jost-VariableFont_wght.ttf");
}

@font-face {
    font-family: "TikTok Sans";
    src: url("/assets/fonts/TikTok_Sans/TikTokSans-VariableFont_opsz,slnt,wdth,wght.ttf");
}

/* <------------------------------------------------> */


/* <-------- Global variables and colors -----------> */


:root {
    --margins: clamp(1rem, 5vw, 5rem);

    --color-primary: var(--primary-100);
    --color-onprimary: var(--onprimary-0);
    --color-primary-variant: var(--primary-90);
    --color-primary-variant-2: var(--primary-10);
    --color-tertiary: var(--tertiary-100);
    --color-tertiary-variant: var(--tertiary-10);
    --color-tertiary-variant-2: var(--tertiary-0);
    --color-tertiary-variant-3: var(--tertiary-40);
    --color-background: var(--background-0);
    --color-onbackground: var(--onbackground-100);
    --color-background-variant: var(--background-10);
    --color-background-variant-2: var(--background-40);
    --color-background-input-field: var(--background-10);
    --color-onbackground-input-field: var(--onbackground-100);
    --color-link: var(--secondary-100);
    --color-link-hover: var(--secondary-40);
    --color-link-active: var(--secondary-10);

    --icon-invert: none;
    --icon-invert-onbackground: none;
}


:root.theme-dark {
    --primary-0: #081f18;
    --primary-10: #10503d;
    --primary-40: #168665; /* header 2, 3 */
    --primary-90: #0fb483; /* header 1 */
    --primary-100: #0ad89a; /* most prominent - logo, main buttons */

    --onprimary-0: #000000;
    --onprimary-10: #414141;
    --onprimary-40: #7c7c7c; /* header 2, 3 */
    --onprimary-90: #9e9e9e; /* header 1 */
    --onprimary-100: #eeeeee; /* most prominent - logo, main buttons */

    --background-0: #131313; /* body background */
    --background-10: #242424; /* lighter background, for containers of grouped buttons for example */
    --background-40: #6b6b6b; /* background of input fields*/
    --background-90: #adadad;
    --background-100: #c4c4c4;

    --onbackground-0: #000000;
    --onbackground-10: #181818;
    --onbackground-40: #6e6e6e;
    --onbackground-90: #bebebe; /* notes, indented lists */
    --onbackground-100: #f1f1f1; /* main text */

    --secondary-0: #081630;
    --secondary-10: #122e61;
    --secondary-40: #2958af;
    --secondary-90: #3673e4;
    --secondary-100: #397fff;

    --tertiary-0: #0a1a1b;
    --tertiary-10: #133436;
    --tertiary-40: #1e686d;
    --tertiary-90: #1a858d;
    --tertiary-100: #08a9b4;

    --icon-invert: none;
    --icon-invert-onbackground: invert();
}

:root.theme-light {
    --primary-0: #000000;
    --primary-10: #131313;
    --primary-40: #6d6d6d; /* header 2, 3 */
    --primary-90: #cacaca; /* header 1 */
    --primary-100: #f5f5f5; /* most prominent - logo, main buttons */

    --onprimary-0: #000000;
    --onprimary-10: #414141;
    --onprimary-40: #7c7c7c; /* header 2, 3 */
    --onprimary-90: #9e9e9e; /* header 1 */
    --onprimary-100: #eeeeee; /* most prominent - logo, main buttons */

    --background-0: #000000; /* body background */
    --background-10: #383838; /* lighter background, for containers of grouped buttons for example */
    --background-40: #6b6b6b; /* background of input fields*/
    --background-90: #adadad;
    --background-100: #e0e0e0;

    --onbackground-0: #000000;
    --onbackground-10: #313131;
    --onbackground-40: #6e6e6e;
    --onbackground-90: #bebebe; /* notes, indented lists */
    --onbackground-100: #f1f1f1; /* main text */

    --secondary-0: #0a0322;
    --secondary-10: #1b0666;
    --secondary-40: #2906a8;
    --secondary-90: #3507db;
    --secondary-100: #3b05ff;

    --tertiary-0: #0f0f0f;
    --tertiary-10: #424242;
    --tertiary-40: #858585;
    --tertiary-90: #adadad;
    --tertiary-100: #b1b1b1;

    --color-background: var(--background-100);
    --color-onbackground: var(--onbackground-0);
    --color-primary: var(--primary-0);
    --color-onprimary: var(--onprimary-100);
    --color-primary-variant: var(--primary-10);
    --color-tertiary: var(--tertiary-0);
    --color-tertiary-variant: var(--tertiary-100);
    --color-tertiary-variant-2: var(--tertiary-0);
    --color-tertiary-variant-3: var(--tertiary-40);
    --color-background-variant: var(--background-90);
    --color-background-input-field: var(--background-90);
    --color-onbackground-input-field: var(--onbackground-0);
    --icon-invert: invert();
    --icon-invert-onbackground: none;
}


/* <------------------------------------------------> */


/* <---------------------- General --------------------------> */


* {
    box-sizing: border-box;
    font-family: "Jost";
    transition: background-color .2s ease, color .2s ease;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* <------------------------------------------------> */


/* <----------------------- Header -------------------------> */


header {
    z-index: 999;
    position: sticky;
    top: 0;
}

.nav-horizontal {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: var(--margins);
    padding-right: var(--margins);
    padding-top: 1rem;
    padding-bottom: .5rem;
    background-color: var(--color-background);
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-horizontal a {
    text-decoration: none;
    color: var(--color-onbackground);
}

#logo-container svg {
    fill: var(--color-primary);
    width: 32px;
    height: auto;
    margin-right: .2rem;
}

#logo-container {
    margin-right: auto;
    display: flex;
    align-items: center;
    font-family: "TikTok Sans";
    color: var(--color-onbackground);
    font-size: 1.1rem;
}

#logo-container mark {
    background-color: transparent;
    color: var(--color-primary);
}

.nav-links.wide {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
    width: 50%;
}

.nav-links.wide>a:not(:last-of-type) {
    margin-right: 2rem;
}

.nav-links.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.nav-links.sidebar>a {
    color: var(--color-onbackground);
    text-decoration: none;
}

.nav-links.sidebar>a:not(:last-of-type) {
    margin-bottom: .5rem;
}

.pref-btn-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: fixed;
    right: var(--margins);
    bottom: 1rem;
    background-color: var(--color-background-variant);
    border-radius: 30px;
    padding: .4rem;
}

.pref-btn {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: .5rem;
    /* position: fixed; */
    background-color: var(--color-primary);
    cursor: pointer;
}

.pref-btn:first-of-type {
    margin-bottom: 2rem;
}

.pref-btn img {
    width: 28px;
    filter: var(--icon-invert);
}

.list-options {
    list-style-type: none;
    margin: 0;
    width: fit-content;
    max-height: 10rem;
    overflow-y: scroll;
    scrollbar-width: none;
    height: fit-content;
    background-color: var(--color-background-variant);
    padding: 0;
    border-radius: 10px;
    font-family: sans-serif;
    position: fixed;
    right: clamp(5rem, 20vw, 10rem);
    bottom: 1rem;
    transform: translateY(300px);
    opacity: 0;
    transition: transform .5s ease, opacity .3s ease;
}

.list-options button {
    text-align: left;
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-onbackground);
    border: none;
    width: 100%;
    font-family: sans-serif;
    padding: .5rem 2rem .5rem 1rem;
}

.list-options li:not(:last-of-type) button {
    border-bottom: 1px solid var(--color-background-variant-2);
}

.opened {
    transform: translateY(0);
    opacity: 100;
}

h1,
h2 {
    color: var(--color-primary-variant);
    font-size: 2rem;
    font-family: sans-serif;
}

p {
    color: var(--color-onbackground);
    font-family: sans-serif;
}

.sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: .4rem;
    border: none;
    background-color: var(--color-primary);
}

.sidebar-btn img {
    width: 20px;
    filter: var(--icon-invert);
    cursor: pointer;
}

.nav-sidebar {
    width: 100%;
    position: fixed;
    z-index: 1000;
    padding: 1rem;
    top: 0;
    transform: translateX(100vw);
    height: 100vh;
    background-color: var(--color-background-variant);
    opacity: 0;
    transition: transform .3s ease, opacity .2s ease;
}

.nav-sidebar.opened {
    transform: translateX(0);
    opacity: 1;
}

@media (width <=600px) {
    .nav-links.wide {
        display: none;
    }
}

@media (width > 600px) {
    #open-sidebar {
        display: none;
    }

    .nav-sidebar {
        display: none;
    }
}

/* <------------------------------------------------> */


/* <-------------------- Elements ----------------------------> */


.main-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    margin-left: clamp(1rem, 8vw, 20rem);
    margin-right: clamp(1rem, 8vw, 20rem);
    margin-bottom: 10rem;

}

.footnote {
    border: none;
    margin-left: 0;
    font-style: italic;
}

.icon {
    filter: var(--icon-invert-onbackground);
}

.p-link {
    color: var(--color-link);
    text-decoration: none;
    transition-property: opacity;
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(1, .4, .5, .8);
}

.p-link:hover {
    color: var(--color-link-hover);
}

.p-link:active {
    color: var(--color-link-active);
}

.p-link img {
    vertical-align: middle;
    width: 20px;
}

.no-bp {
    font-family: "Manrope";
    font-size: 1.1rem;
    margin-left: 1rem;
    line-height: 2rem;
    list-style-type: none;
}

.custom-list {
    font-family: "Manrope";
    font-size: 1.1rem;
    line-height: 2rem;
    color: var(--color-onbackground);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12rem;
}

.p-footer {
    font-family: "Manrope";
    font-size: 1rem;
}

.p-footer a {
    color: unset;
}

.p-footer:not(:last-of-type) {
    margin-right: 1rem;
}

/* <---------------------------------------------------------> */


/* <------------------ "Under Construction" --------------> */


.under-construction-txt {
    text-align: center;
    font-family: "Lexend";
}

.h-under-construction {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.p-under-construction {
    font-size: 1.2rem;
    margin-top: 3rem;
}

#under-construction-img {
    width: 300px;
    opacity: 30%;

}

#under-construction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 8rem;
}


/* <------------------------------------------------> */


/* <-------------------- Media ----------------------------> */


@media screen and (width <=500px) {
    .h-under-construction {
        font-size: 1.3rem;
    }

    .p-under-construction {
        font-size: .75rem;
    }

    #under-construction-img {
        width: 200px;
    }

}

@media screen and (width <=480px) {
    footer {
        display: grid;
        columns: 2;
        align-items: unset;
        justify-content: unset;
        padding-bottom: 1rem;
    }

    .p-footer:first-of-type {
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 0;
        margin-left: 1rem;
    }

    .p-footer:not(:first-of-type) {
        height: fit-content;
        text-align: right;
        grid-column-start: 2;
        margin: 0;
        margin-right: 2rem;
    }

}

/* <------------------------------------------------> */