.feature-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.portfolio-gh-logo{
    width: 10rem;
    align-self: center;
    margin-bottom: 2rem;
    user-select: none;
}

.f-card-main:first-of-type{
    margin-right: 2rem;
}

.f-card-main{
    background-color: #162c31;
    border: 1px solid #25505a;
    font-family: "Manrope";
    width: clamp(15rem, 95vw, 20rem);
}

.f-card-main.light{
    background-color: #9fabae;
}

.f-card-main p {
    margin: 0;
}

.f-card-title{
    border-bottom: 1px solid #25505a;
    padding-left: .3rem;
    padding-top: .3rem;
    color: #15b383;
    font-size: 1.2rem;
    font-weight: 500;
}

.f-card-title.light{
    color: #0e0e0e;
}

.f-card-content{
    padding-left: .5rem;
    padding-right: .5rem;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-weight: 300;
}

.f-card-name{
    font-size: 1.2rem;
    padding-top: .5rem;
}

.f-card-desc{
    padding-bottom: 1rem;
    font-size: .9rem;
}

.f-card-date{

    font-size: .8rem;
    text-align: right;
}

@media screen and (width <= 680px) {
    .feature-container{
        flex-direction: column;
        
    }

    .f-card-main:first-of-type{
        margin-bottom: 2rem;
        margin-right: 0;
    }


}