.github-repos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60rem;
    width: 100%;
    align-self: center;
}

.feature-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.portfolio-gh-logo{
    width: 10rem;
    aspect-ratio: 1 / 1;
    align-self: center;
    margin-bottom: 2rem;
    user-select: none;
}

.f-card-main:first-of-type{
    margin-right: 1rem;
}

.f-card-main{
    background-color: var(--color-surface-container);
    border: 1px solid var(--color-outline);
    width: 100%;
    cursor: pointer;
}


.f-card-main:hover{
    background-color: color-mix(in srgb, var(--color-surface-container) 85%, black);
}

.f-card-main p {
    margin: 0;
}

.f-card-title{
    border-bottom: 1px solid var(--color-outline);
    padding-left: .3rem;
    padding-top: .3rem;
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: 500;
}

.f-card-content{
    padding-left: .5rem;
    padding-right: .5rem;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-weight: 300;
}

.f-card-name{
    font-size: 1.2rem;
    padding-top: .5rem;
}

.f-card-desc{
    padding-bottom: 1rem;
    font-size: .9rem;
}

.f-card-date{
    font-size: .8rem;
    text-align: right;
}

.repos-list-heading{
    margin: 0;
    margin-top: 2rem;
    font-size: clamp(1.8rem, 2.2vw, 2rem);
}

#repos-list{
    background-color: var(--color-surface-container);
    border: 1px solid var(--color-outline);
    font-weight: 300;
    width: 100%;
    margin-top: 1rem;
}

.repos-list-item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.repos-list-item:not(:last-of-type) {
    border-bottom: 1px solid var(--color-outline);
}

.repos-list-item:hover{
    background-color: color-mix(in srgb, var(--color-surface-container) 85%, black);
}

.repos-list-item p{
    margin: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.repos-list-item-name{
    font-size: 1.2rem;
    padding-top: .5rem;
}

.repos-list-item-desc{
    font-size: .9rem;
    padding-bottom: 1rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.repos-list-item-date{
    font-size: .8rem;
    text-align: right;
    padding-bottom: .5rem;
}


@media screen and (width <= 680px) {
    .feature-container{
        flex-direction: column;
        
    }

    .f-card-main:first-of-type{
        margin-bottom: 2rem;
        margin-right: 0;
    }

}